.navcontainer {
  padding: 10px;
  background-color: #202020;
}
.navbar-brand1 {
  margin-right: 10px;
  font-size: 25px;
  color: #FFFFFF;
  text-decoration: none;
  white-space: nowrap;
}
.carousel-item {
  animation: fade-in 0.4s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box1 {
  background-color: #202020;
  padding: 30px 0px; /* Espaço ao redor dos itens internos */
}

.box1 ul {
  display: flex; /* Flex container */
  justify-content: space-evenly; /* Espaço uniforme entre os itens */
  list-style: none; /* Remove marcadores de lista */
  padding: 0; /* Remove padding padrão */
  margin: 0 auto; /* Centraliza a lista */
  width: 100%;
}

.box1 ul li {
  display: flex; /* Flex item */
  justify-content: center; /* Centraliza conteúdo horizontalmente */
  align-items: center; /* Centraliza conteúdo verticalmente */
  width: 20%; /* Ajusta a largura considerando a margem */
  margin: 1.5%; /* Margem uniforme */
  padding: 30px 10px; /* Espaçamento interno */
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center; /* Texto centralizado */
  box-sizing: border-box; /* Inclui padding e border na largura/altura */
  transition: transform 0.5s, background-color 0.5s, color 0.5s; /* Suaviza as transições */
}

.box1 ul li a {
  text-decoration: none;
  color: inherit; /* Herda a cor do elemento pai */
  
}

.box1 ul li:hover {
  background-color: #FFFFFF; /* Fundo branco ao passar o mouse */
  color: #000000; /* Texto preto ao passar o mouse */
  transform: scale(1.055); /* Aumenta ligeiramente o tamanho */
}

.icone {
  width: 120px; /* Largura do ícone */
  display: block; /* Exibição como bloco */
  margin: 0 auto; /* Centraliza o ícone */
}


@keyframes scaleanimation {
 0% {
     transform: scale(100%);
     opacity: 0.1;
 }
 100% {
     transform: scale(105.5%);
     opacity: 1;
 }
}
